<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Banner</ion-label>
    </ion-list-header>

    <ion-item detail="true" lines="full" (click)="showTopBanner()">Show
      Banner Top
    </ion-item>
    <br>
    <ion-item detail="true" lines="full" (click)="showCenterBanner()">Show
      Banner center
    </ion-item>
    <br>
    <ion-item detail="true" lines="full" (click)="showBottomBanner()">Show
      Banner Buttom
    </ion-item>


  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Interstitial</ion-label>
    </ion-list-header>
    <ion-item detail="true" lines="full" (click)="prepareInterstitial()">
      prepare Interstitial
    </ion-item>
    <br>
    <ion-item detail="true" lines="full" (click)="showInterstitial()">Show
      Interstitial
    </ion-item>
  </ion-list>

</ion-content>